body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
}

h1 {
    color: #4B0082;
    text-align: center;
}

p {
    text-align: center;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #4B0082;
    border-radius: 5px;
}

select {
    width: 200px;
    height: 35px;
    padding: 5px;
    border: 1px solid #4B0082;
    border-radius: 5px;
}

button {
    width: 200px;
    height: 40px;
    background-color: #4B0082;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6A5ACD;
}